<h2>editing <%=@student.first_name %></h2>
<br/>
<%= render 'form', student: @student %>
<br/>
<%= link_to 'Show', @student, class:"btn btn-secondary" %>
<%= button_to 'Delete', user_student_path(current_user.id, @student.id), method: :delete, class: "btn btn-danger" %>
<%= link_to 'Back', students_path, class:"btn btn-dark" %>