<h2>editing <%=@student.first_name %></h2>
<br/>
<%= render 'form', student: @student %>
<br/>
<%= link_to 'Show', @student, class:"btn btn-secondary" %>
<%= link_to 'Delete', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', students_path, class:"btn btn-dark" %>