<br>
<% if user_signed_in? %>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
   <tr>
   <th>Full Name</th>
   <th>Email</th>
   <th>Phone</th>
   <th>Current User</th>
   <th><%=@students.size %></th>
   </tr>
  </thead>
<tbody>
<% @students.each do |student| %>
  <tr>
      <td>
        <%= link_to student, student_path(student) %>
      </td>
      <td>
        <%= student.email %>
      </td>
      <td>
        <%= student.phone %> 
      </td>
      <td>
        <%= student.user_id%> 
      </td>
      <td> <%= link_to 'Delete', student, method: :delete,  class: "btn btn-outline-danger btn-sm" %> <%=link_to "Edit", edit_student_path(student), class:"btn btn-outline-success"%></td>
    </tr>
<% end %>
</tbody>
</table>
<br>
     <div>
     <%=link_to "Add new", new_student_path, class:"btn btn-success btn-sm"%>
     </div>
<% else %>
          redirect_to 'home#index'
<% end %>