
<div class="jumbotron">
  <h1 class="display-5">
    <%= @student.to_s %>
  </h1>
    
  <p class="lead">
    <%= @student.email %>  | 
    <%= @student.phone %>  |  
  </p>
       <br>
  
      <%= link_to 'Back', students_path, class:"btn btn-dark" %>
      <%= link_to 'Edit', edit_student_path, class:"btn btn-secondary" %>   
      <%= button_to 'Delete',user_student_path(current_user.id,@student.id), method: :delete, class: "btn btn-danger" %>
    

</div>