<h2>Destinations</h2>
     <div class="row row-cols-1 row-cols-md-4 g-4">
                   <%@countries.each do |c|  %>
           <div class="col">
             
            <div class="card" style="width: 15rem; margin: 20px">
              <div class="text-center" class="card-body" style="padding: 10px">
              <div class="card-header"><%= c.name %></div>
              <div class="card-header"><%= c.capital %></div>
               <div class="card-text"><%= c.currency %><br><%= c.timezone %></div>
               <%= link_to 'Delete', c,  method: :delete, class: "btn btn-danger" %>
         </div>
        </div>
       </div>
          <% end %>
     </div>
   </div>
