
      <h4>Visit <%= @country.name %></h4>
      <dl>
        <dt>Capital</dt>
        <dd><%= @country.capital%></dd>
        <dt>Currency</dt>
        <dd><%= @country.currency.gsub(/[\[\]\\=>}{,"]/,' ')%></dd>
        <dt>Timezone(s)</dt>
        <dd><%= @country.timezone.gsub(/[\[\]\\=>}{,"]/,'')%></dd>
      </dl>
  
<div class="card" style="width: 18rem;">
  <div class="card-header">
      Weather Info
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Temperature</strong> <%= to_fahrenheit @weather['main']['temp'] %></li>
    <li class="list-group-item"><strong>Min</strong> <%= to_fahrenheit @weather['main']['temp_min'] %> <strong>Max</strong> <%= to_fahrenheit @weather['main']['temp_max'] %></li>
    <li class="list-group-item"><strong>Pressure</strong> <%= @weather['main']['pressure'] %></li>
    <li class="list-group-item"><strong>Humidity</strong> <%= @weather['main']['humidity'] %></li>
  </ul>
</div>
      
          
          
          
         
         
          
    
    
