
      <h4>Visit <%= @country.name %></h4>
      <dl>
        <dt>Capital</dt>
        <dd><%= @country.capital%></dd>
        <dt>Currency</dt>
        <dd><%= @country.currency.gsub(/[\[\]\\=>}{,"]/,' ')%></dd>
        <dt>Timezone(s)</dt>
        <dd><%= @country.timezone.gsub(/[\[\]\\=>}{,"]/,'')%></dd>
      </dl>
  
<div class="card" style="width: 30rem;">
  <div class="card-header">
      Weather Info
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @country.weather.gsub(/[\[\]\\=>}{,"]/,' ') %> </li>
  </ul>
</div>
      
          
          
          
         
         
          
    
    
